<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.dl.tensorflow.TFModelConverter">
      <TFModelConverter
            TFModelConverter="org.knime.dl.tensorflow.keras.TFKerasModelConverter">
      </TFModelConverter>
   </extension>
</plugin>
