<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.dl.tensorflow.TFNetworkConverter">
      <TFNetworkConverter
            TFNetworkConverter="org.knime.dl.tensorflow.keras.TFKerasNetworkConverter">
      </TFNetworkConverter>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodesets">
      <nodeset
         factory-class="org.knime.dl.tensorflow.keras.base.nodes.TFConverterNodeSetFactory">
      </nodeset>
   </extension>
</plugin>
