<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.tensorflow.libs.prefs.DLTensorFlowPreferencePage"
            id="org.knime.tensorflow.libs.PreferencePage"
            name="TensorFlow">
      </page>
   </extension>

</plugin>
