<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#8fb3c2"
            hidden="false"
            name="TensorFlow Deep Learning Network"
            objectClass="org.knime.dl.tensorflow.base.portobjects.TFNetworkPortObject"
            objectSerializer="org.knime.dl.tensorflow.base.portobjects.TFNetworkPortObject$Serializer"
            specClass="org.knime.dl.tensorflow.base.portobjects.TFNetworkPortObjectSpec"
            specSerializer="org.knime.dl.tensorflow.base.portobjects.TFNetworkPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/tensorflow.png"
            level-id="tensorflow"
            locked="true"
            name="TensorFlow"
            path="/labs/deeplearning">
      </category>
   </extension>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/labs/deeplearning/tensorflow"
            deprecated="false"
            factory-class="org.knime.dl.tensorflow.base.nodes.reader.DLTensorFlowReaderNodeFactory">
      </node>
  </extension>
   <extension
         point="org.knime.dl.DLExecutionContext">
      <DLExecutionContext
            DLExecutionContext="org.knime.dl.tensorflow.savedmodel.core.execution.TFSavedModelExecutionContext">
      </DLExecutionContext>
   </extension>
   <extension
         point="org.knime.dl.DLTensorFactory">
      <DLTensorFactory
            DLTensorFactory="org.knime.dl.tensorflow.savedmodel.core.TFSavedModelTensorFactory">
      </DLTensorFactory>
   </extension>
   <extension
         point="org.knime.dl.DLTensorToDataCellConverterFactory">
      <DLTensorToDataCellConverterFactory
            DLTensorToDataCellConverterFactory="org.knime.dl.tensorflow.savedmodel.core.data.convert.DLStringTensorToStringCellConverterFactory">
      </DLTensorToDataCellConverterFactory>
   </extension>
   <extension
         point="org.knime.dl.DLDataValueToTensorConverterFactory">
      <DLDataValueToTensorConverterFactory
            DLDataValueToTensorConverterFactory="org.knime.dl.tensorflow.savedmodel.core.data.convert.DLStringValueToStringTensorConverterFactory">
      </DLDataValueToTensorConverterFactory>
   </extension>
</plugin>
